# Physio preprocessing

In this notebook, we're performing a preliminary analysis.  The first step is preprocessing in which we will add timestamps to each measurement.

In what follows, we show detailed how the data is preprocessed for all different physio metrics.
We're focusing on the data from subject `005`.

At the bottom, we combine the data (for ACC) from this preprocessing with the datasets created by Seung to make sure our analyses result in the same data.

**Notes:** The tags-files are empty so I have not used these...

### preambule and constants

In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import os

/Users/jokedurnez/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/jokedurnez/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
datadir = "/Users/jokedurnez/Box/CAFE Consortium/Heather Info for CAFE Physio Pilot"
subject = 'WI_AMP_005'

subdir = os.path.join(datadir,'Preliminary Physio Wristband Data for Mollie',subject)
outdir = os.path.join(datadir,'preprocessed',subject)
if not os.path.exists(os.path.join(datadir,'preprocessed')):
    os.mkdir(os.path.join(datadir,'preprocessed'))
if not os.path.exists(outdir):
    os.mkdir(outdir)
physiometrics = ['ACC',"BVP","EDA",'IBI','TEMP','HR','TAGS']

### Show procedure using temperature data

Below, we show in detail the different steps for the temp data.

In [3]:
# reading in the data
metric = "TEMP"
file = os.path.join(subdir,"%s.csv"%metric)
data = pd.read_csv(file,header=None)
data.columns = ["%s_%i"%(metric,ind) for ind in range(len(data.columns))]

# converting the first timestamp to a datetime field
timestamp = list(data.iloc[0])[0]
timestamp = datetime.fromtimestamp(timestamp)

# converting the samplerate from Hz to seconds
samplerate = list(data.iloc[1])[0]
samplerate_seconds = 1/samplerate

# extract the measurements (starting from row 2 - the third row)
measurements = pd.DataFrame(data.iloc[2:]).reset_index(drop=True)

# add timestamps for each measurement
offsets = measurements.index * timedelta(seconds=samplerate_seconds)
measurements['timestamp'] = timestamp + offsets

# show
measurements.head(10)

   TEMP_0               timestamp
0   42.63 2018-03-22 14:24:47.000
1   42.63 2018-03-22 14:24:47.250
2   42.63 2018-03-22 14:24:47.500
3   42.63 2018-03-22 14:24:47.750
4   42.63 2018-03-22 14:24:48.000
5   42.63 2018-03-22 14:24:48.250
6   42.63 2018-03-22 14:24:48.500
7   42.63 2018-03-22 14:24:48.750
8   42.55 2018-03-22 14:24:49.000
9   42.55 2018-03-22 14:24:49.250

### Repeat preprocessing for all similar files

Now we make an abstraction of the code above and make it into a function that we can then use for all files in the same format.

In [4]:
def extract_measurements(metric, subdir):
    file = os.path.join(subdir,"%s.csv"%metric)
    data = pd.read_csv(file,header=None)
    data.columns = ["%s_%i"%(metric,ind) for ind in range(len(data.columns))]

    # converting the first timestamp to a datetime field
    timestamp = list(data.iloc[0])[0]
    timestamp = datetime.fromtimestamp(timestamp)

    # converting the samplerate from Hz to seconds
    samplerate = list(data.iloc[1])[0]
    samplerate_seconds = 1/samplerate

    # extract the measurements (starting from row 2 - the third row)
    measurements = pd.DataFrame(data.iloc[2:]).reset_index(drop=True)

    # add timestamps for each measurement
    offsets = measurements.index * timedelta(seconds=samplerate_seconds)
    measurements['timestamp'] = timestamp + offsets
    
    return measurements

Next we run this function on all different physio data.  We store the data in a dictionary for further handling, but we also export the data to csv's.

**Question:** I'm a bit confused about heart rate.  I don't really get how you can get a heart rate metric on a fixed timestamp, i.e. how this is related to the IBI metrics.  I don't really _have_ to understand it, but it'd be great if you could confirm that this is indeed a fixed-interval measurement for heart rate...

In [5]:
measurements = {}

for metric in ['ACC', 'EDA', 'BVP', 'TEMP', 'HR']:
    measurements[metric] = extract_measurements(metric,subdir)
    # for 'ACC': add SVM
    if metric == 'ACC':
        measurements[metric]['SVM'] = np.sqrt(measurements[metric]['ACC_0']**2 + \
            measurements[metric]['ACC_1']**2 + \
            measurements[metric]['ACC_2']**2)
    measurements[metric].to_csv(os.path.join(
        outdir,"PHYSIO_%s_%s.csv"%(subject,metric)),index=False)
    # logging
    start = measurements[metric]['timestamp'][0].strftime("%H:%M:%S")
    end = measurements[metric]['timestamp'].iloc[len(measurements[metric])-1].strftime("%H:%M:%S")
    print("%s was measured from %s to %s"%(metric, start, end))

ACC was measured from 14:24:47 to 15:02:17
EDA was measured from 14:24:47 to 15:02:16
BVP was measured from 14:24:47 to 15:02:17
TEMP was measured from 14:24:47 to 15:02:12
HR was measured from 14:24:57 to 15:02:17

### Unique approach for IBI

Below we preprocess IBI. The procedure is as follows: we add the onsets (first column) to the onset we can extract from the BVP-file.  **Is this the right approach?** I'm a bit confused since the last IBI measurement for this subject is 40 seconds before the last BVP measurement...

In [6]:
# read in data
IBIdata = pd.read_csv(os.path.join(subdir,"IBI.csv"),header=None)
IBIdata.columns = ['offset_seconds','IBI']

# read in BVP to get onset timestamp
BVPdata = pd.read_csv(os.path.join(subdir,"BVP.csv"),header=None)
BVPonset = datetime.fromtimestamp(BVPdata.iloc[0,0])

# extract timestamps:
# attention: onset = BVPonset + IBIonset (1st column in IBI)
IBItimestamps = [BVPonset + timedelta(seconds = x) for x in 
                 IBIdata['offset_seconds']]

# add timestamp and remove offset
IBIdata['timestamp'] = IBItimestamps
IBIdata = IBIdata.drop(['offset_seconds'],axis=1).iloc[1:]

# export
IBIdata.to_csv(os.path.join(outdir,"PHYSIO_%s_IBI.csv"%(subject)), index=False)

## Validation

Below, I compare the preprocessed data for `ACC` from Seung and these analysis.  As a validation, I create a new dataset which is a join of both analyses.  The steps to make the timepoints and metrics match:

- the timestamps seem to be off by an hour (Seungs timestamps are 1 hour earlier).  Not sure if this is due to DST?
- Seung's resolution is at 1/1000 of a second, mine at 1/10000.  

For now, I take this as _evidence_ that these preprocessing is correct.  We will need to figure out which timestamp is the correct one...

In [7]:
preproc_Seung_dir = "/Users/jokedurnez/Documents/projects/projectsOngoing/accounts/Data/CAFE/Physio/Preliminary Physio Wristband Data for Mollie/Physio+Attention data templete/Converted files for participant 005"
preproc_Seung = pd.read_excel(os.path.join(preproc_Seung_dir,'Physio data/ACC_005.xlsx'),sheet_name='ACC',header=None,skiprows=2)

In [8]:
preproc_Seung.columns = ['ACC_0','ACC_1','ACC_2','index','offset','timestamp']

In [9]:
preproc_Seung.head()

   ACC_0  ACC_1  ACC_2  index        offset               timestamp
0      8     11     60      0  1.521754e+09 2018-03-22 16:24:47.000
1      7     11     60      1  1.521754e+09 2018-03-22 16:24:47.031
2      6     11     60      2  1.521754e+09 2018-03-22 16:24:47.062
3      6     10     60      3  1.521754e+09 2018-03-22 16:24:47.094
4      6      7     60      4  1.521754e+09 2018-03-22 16:24:47.125

In [10]:
# change hour in Seungs data
preproc_Seung['timestamp'] = preproc_Seung['timestamp']-timedelta(hours=2)

In [11]:
# the resolution is different in both datasets.  To make them match, I round the timestamps to 1/100s
def ch_reso(ts):
    dt_str = ts.strftime("%Y-%m-%d %H:%M:%S.%f")
    dt_splt = dt_str.split(".")
    dt_str = "%s.%s"%(dt_splt[0],dt_splt[1][:2])
    return dt_str

preproc_Seung['timestamp_rnd'] = preproc_Seung['timestamp'].apply(ch_reso)
measurements['ACC']['timestamp_rnd'] = measurements['ACC']['timestamp'].apply(ch_reso)

In [12]:
np.min(measurements['ACC']['timestamp_rnd'])

'2018-03-22 14:24:47.00'

In [13]:
np.min(preproc_Seung['timestamp_rnd'])

'2018-03-22 14:24:47.00'

Below we can see how the two datasets match if the two steps above are applied...

In [14]:
merged = pd.merge(measurements['ACC'],preproc_Seung,
                  on='timestamp_rnd',how='outer',
                  suffixes=['_Joke','_Seung'])

merged.sort_values(by='timestamp_rnd')

,ACC_0_Joke,ACC_1_Joke,ACC_2_Joke,timestamp_Joke,SVM,timestamp_rnd,ACC_0_Seung,ACC_1_Seung,ACC_2_Seung,index,offset,timestamp_Seung
0,8.0,11.0,60.0,2018-03-22 14:24:47.000000,61.522354,2018-03-22 14:24:47.00,8,11,60,0,1.521754e+09,2018-03-22 14:24:47.000
1,7.0,11.0,60.0,2018-03-22 14:24:47.031250,61.400326,2018-03-22 14:24:47.03,7,11,60,1,1.521754e+09,2018-03-22 14:24:47.031
2,6.0,11.0,60.0,2018-03-22 14:24:47.062500,61.294372,2018-03-22 14:24:47.06,6,11,60,2,1.521754e+09,2018-03-22 14:24:47.062
3,6.0,10.0,60.0,2018-03-22 14:24:47.093750,61.122827,2018-03-22 14:24:47.09,6,10,60,3,1.521754e+09,2018-03-22 14:24:47.094
4,6.0,7.0,60.0,2018-03-22 14:24:47.125000,60.704201,2018-03-22 14:24:47.12,6,7,60,4,1.521754e+09,2018-03-22 14:24:47.125
5,5.0,9.0,62.0,2018-03-22 14:24:47.156250,62.849025,2018-03-22 14:24:47.15,5,9,62,5,1.521754e+09,2018-03-22 14:24:47.156
6,14.0,16.0,60.0,2018-03-22 14:24:47.187500,63.655322,2018-03-22 14:24:47.18,14,16,60,6,1.521754e+09,2018-03-22 14:24:47.187
7,15.0,12.0,60.0,2018-03-22 14:24:47.218750,63.000000,2018-03-22 14:24:47.21,15,12,60,7,1.521754e+09,2018-03-22 14:24:47.219
8,4.0,12.0,60.0,2018-03-22 14:24:47.250000,61.318839,2018-03-22 14:24:47.25,4,12,60,8,1.521754e+09,2018-03-22 14:24:47.250
9,4.0,11.0,60.0,2018-03-22 14:24:47.281250,61.131007,2018-03-22 14:24:47.28,4,11,60,9,1.521754e+09,2018-03-22 14:24:47.281
10,6.0,7.0,61.0,2018-03-22 14:24:47.312500,61.692787,2018-03-22 14:24:47.31,6,7,61,10,1.521754e+09,2018-03-22 14:24:47.312
11,4.0,9.0,60.0,2018-03-22 14:24:47.343750,60.802960,2018-03-22 14:24:47.34,4,9,60,11,1.521754e+09,2018-03-22 14:24:47.344
12,4.0,10.0,59.0,2018-03-22 14:24:47.375000,59.974995,2018-03-22 14:24:47.37,4,10,59,12,1.521754e+09,2018-03-22 14:24:47.375
13,9.0,11.0,62.0,2018-03-22 14:24:47.406250,63.608176,2018-03-22 14:24:47.40,9,11,62,13,1.521754e+09,2018-03-22 14:24:47.406
14,2.0,16.0,60.0,2018-03-22 14:24:47.437500,62.128898,2018-03-22 14:24:47.43,2,16,60,14,1.521754e+09,2018-03-22 14:24:47.437
15,7.0,17.0,60.0,2018-03-22 14:24:47.468750,62.753486,2018-03-22 14:24:47.46,7,17,60,15,1.521754e+09,2018-03-22 14:24:47.469
16,7.0,14.0,59.0,2018-03-22 14:24:47.500000,61.040970,2018-03-22 14:24:47.50,7,14,59,16,1.521754e+09,2018-03-22 14:24:47.500
17,1.0,11.0,60.0,2018-03-22 14:24:47.531250,61.008196,2018-03-22 14:24:47.53,1,11,60,17,1.521754e+09,2018-03-22 14:24:47.531
18,11.0,11.0,59.0,2018-03-22 14:24:47.562500,61.016391,2018-03-22 14:24:47.56,11,11,59,18,1.521754e+09,2018-03-22 14:24:47.562
19,13.0,13.0,59.0,2018-03-22 14:24:47.593750,61.798058,2018-03-22 14:24:47.59,13,13,59,19,1.521754e+09,2018-03-22 14:24:47.594
20,16.0,16.0,59.0,2018-03-22 14:24:47.625000,63.190189,2018-03-22 14:24:47.62,16,16,59,20,1.521754e+09,2018-03-22 14:24:47.625
21,11.0,12.0,60.0,2018-03-22 14:24:47.656250,62.169124,2018-03-22 14:24:47.65,11,12,60,21,1.521754e+09,2018-03-22 14:24:47.656
22,11.0,12.0,59.0,2018-03-22 14:24:47.687500,61.204575,2018-03-22 14:24:47.68,11,12,59,22,1.521754e+09,2018-03-22 14:24:47.687
23,10.0,14.0,59.0,2018-03-22 14:24:47.718750,61.457302,2018-03-22 14:24:47.71,10,14,59,23,1.521754e+09,2018-03-22 14:24:47.719
24,13.0,20.0,60.0,2018-03-22 14:24:47.750000,64.567794,2018-03-22 14:24:47.75,13,20,60,24,1.521754e+09,2018-03-22 14:24:47.750
25,14.0,20.0,59.0,2018-03-22 14:24:47.781250,63.851390,2018-03-22 14:24:47.78,14,20,59,25,1.521754e+09,2018-03-22 14:24:47.781
26,16.0,9.0,58.0,2018-03-22 14:24:47.812500,60.835845,2018-03-22 14:24:47.81,16,9,58,26,1.521754e+09,2018-03-22 14:24:47.812
27,14.0,15.0,58.0,2018-03-22 14:24:47.843750,61.522354,2018-03-22 14:24:47.84,14,15,58,27,1.521754e+09,2018-03-22 14:24:47.844
28,9.0,12.0,65.0,2018-03-22 14:24:47.875000,66.708320,2018-03-22 14:24:47.87,9,12,65,28,1.521754e+09,2018-03-22 14:24:47.875
29,10.0,14.0,57.0,2018-03-22 14:24:47.906250,59.539903,2018-03-22 14:24:47.90,10,14,57,29,1.521754e+09,2018-03-22 14:24:47.906
...,...,...,...,...,...,...,...,...,...,...,...,...
71982,40.0,-10.0,46.0,2018-03-22 15:02:16.437500,61.773781,2018-03-22 15:02:16.43,40,-10,46,71982,1.521756e+09,2018-03-22 15:02:16.437
71983,40.0,-10.0,46.0,2018-03-22 15:02:16.468750,61.773781,2018-03-22 15:02:16.46,40,-10,46,71983,1.521756e+09,2018-03-22 15:02:16.469
71984,40.0,-10.0,46.0,2018-03-22 15:02:16.500000,61.773781,2018-03-22 15:02:16.50,40,-10,46,71984,1.521756e+09,2018-03-22 15:02:16.500
71985,40.0,-9.0,46.0,2018-03-22 15:02:16.531250,61.619802,2018-03-22 15:02:16.53,40,-9,46,71985,1.521756e+09,2018-03-22 15:02:16.531
71986,40.0,-9.0,46.0,2018-03-22 15:02:16.562500,61.619802,2018-03-22 15:02:16.56,40,-9,46,71986,1.521756e+09,2018-03-22 15:02:16.563
71987,40.0,-10.0,46.0,2018-03-22 15:02:16.593750,61.773781,2018-03-22 15:02:16.59,40,-10,46,71987,1.521756e+09,2018-03-22 15:02:16.594
71988,41.0,-10.0,46.0,2018-03-22 15:02:16.625000,62.425956,2018-03-22 15:02:16.62,41,-10,46,71988,1.521756e+09,2018-03-22 15:02:16.625
71989,41.0,-9.0,46.0,2018-03-22 15:02:16.656250,62.273590,2018-03-22 15:02:16.65,41,-9,46,71989,1.521756e+09,2018-03-22 15:02:16.656
71990,41.0,-9.0,45.0,2018-03-22 15:02:16.687500,61.538606,2018-03-22 15:02:16.68,41,-9,45,71990,1.521756e+09,2018-03-22 15:02:16.687
71991,41.0,-9.0,46.0,2018-03-22 15:02:16.718750,62.273590,2018-03-22 15:02:16.71,41,-9,46,71991,1.521756e+09,2018-03-22 15:02:16.719
71992,41.0,-10.0,45.0,2018-03-22 15:02:16.750000,61.692787,2018-03-22 15:02:16.75,41,-10,45,71992,1.521756e+09,2018-03-22 15:02:16.750
71993,41.0,-9.0,45.0,2018-03-22 15:02:16.781250,61.538606,2018-03-22 15:02:16.78,41,-9,45,71993,1.521756e+09,2018-03-22 15:02:16.781
71994,41.0,-9.0,46.0,2018-03-22 15:02:16.812500,62.273590,2018-03-22 15:02:16.81,41,-9,46,71994,1.521756e+09,2018-03-22 15:02:16.812
71995,41.0,-9.0,45.0,2018-03-22 15:02:16.843750,61.538606,2018-03-22 15:02:16.84,41,-9,45,71995,1.521756e+09,2018-03-22 15:02:16.844
71996,41.0,-9.0,45.0,2018-03-22 15:02:16.875000,61.538606,2018-03-22 15:02:16.87,41,-9,45,71996,1.521756e+09,2018-03-22 15:02:16.875
71997,41.0,-9.0,45.0,2018-03-22 15:02:16.906250,61.538606,2018-03-22 15:02:16.90,41,-9,45,71997,1.521756e+09,2018-03-22 15:02:16.906
71998,41.0,-8.0,45.0,2018-03-22 15:02:16.937500,61.400326,2018-03-22 15:02:16.93,41,-8,45,71998,1.521756e+09,2018-03-22 15:02:16.937
71999,42.0,-8.0,45.0,2018-03-22 15:02:16.968750,62.072538,2018-03-22 15:02:16.96,42,-8,45,71999,1.521756e+09,2018-03-22 15:02:16.969
72000,42.0,-8.0,45.0,2018-03-22 15:02:17.000000,62.072538,2018-03-22 15:02:17.00,42,-8,45,72000,1.521756e+09,2018-03-22 15:02:17.000
72001,42.0,-8.0,45.0,2018-03-22 15:02:17.031250,62.072538,2018-03-22 15:02:17.03,42,-8,45,72001,1.521756e+09,2018-03-22 15:02:17.031
72002,42.0,-7.0,45.0,2018-03-22 15:02:17.062500,61.951594,2018-03-22 15:02:17.06,42,-7,45,72002,1.521756e+09,2018-03-22 15:02:17.062
72003,43.0,-7.0,44.0,2018-03-22 15:02:17.093750,61.919302,2018-03-22 15:02:17.09,43,-7,44,72003,1.521756e+09,2018-03-22 15:02:17.094
72004,43.0,-7.0,44.0,2018-03-22 15:02:17.125000,61.919302,2018-03-22 15:02:17.12,43,-7,44,72004,1.521756e+09,2018-03-22 15:02:17.125
72005,43.0,-8.0,44.0,2018-03-22 15:02:17.156250,62.040309,2018-03-22 15:02:17.15,43,-8,44,72005,1.521756e+09,2018-03-22 15:02:17.156
72006,44.0,-7.0,44.0,2018-03-22 15:02:17.187500,62.617889,2018-03-22 15:02:17.18,44,-7,44,72006,1.521756e+09,2018-03-22 15:02:17.187
72007,44.0,-7.0,43.0,2018-03-22 15:02:17.218750,61.919302,2018-03-22 15:02:17.21,44,-7,43,72007,1.521756e+09,2018-03-22 15:02:17.219
72008,43.0,-7.0,44.0,2018-03-22 15:02:17.250000,61.919302,2018-03-22 15:02:17.25,43,-7,44,72008,1.521756e+09,2018-03-22 15:02:17.250
72009,44.0,-6.0,43.0,2018-03-22 15:02:17.281250,61.814238,2018-03-22 15:02:17.28,44,-6,43,72009,1.521756e+09,2018-03-22 15:02:17.281
72010,44.0,-6.0,43.0,2018-03-22 15:02:17.312500,61.814238,2018-03-22 15:02:17.31,44,-6,43,72010,1.521756e+09,2018-03-22 15:02:17.312
72011,44.0,-6.0,43.0,2018-03-22 15:02:17.343750,61.814238,2018-03-22 15:02:17.34,44,-6,43,72011,1.521756e+09,2018-03-22 15:02:17.344